<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <nav>
          <%=  %>
          <%= link_to "Home", root_path %>
          <% if signed_in? %>
              <%= link_to "Sign out", signout_path, method: "delete" %>
          <% else %>
              <%= link_to "Sign in", signin_path %>
          <% end %>
      </nav>
    </div>
  </div>
</header>